* {
    /* outline: dotted black; */
}

@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
    
}

.hero-image {
    max-width: 500px;
    z-index: 1;
    
}

.hero-div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 100px;
    width: 500px;
    height: 200px;
    z-index: 2;
}

.logo {
    position: absolute;   
    height: 200px;
    top: 100px;
    left: 40px;
    z-index: 3;
}

.logo-text {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Norse-Bold";
    font-size: 6rem;
    margin-left: 10px;
    left: 200px;
    top: 70px;
    z-index: 9;
}

.theform {
    margin-left: 20px;
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
}


h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 48%;
}

label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #5a6d3e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4a5934;
}

p {
    margin-top: 10px;
    font-size: 0.9rem;
}

a {
    color: #4a5934;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    display: none; /* Initially hidden */
}

input.invalid {
    border-color: red;
}
